html{
	            height: 100%;
	        }
	        .head {
	        	position: fixed; 
	        	width: 100%;
	        	top: 0; 
	        	font-family: "Trebuchet Ms", Verdana, Sans-serif;
	            color: #00f;
	            text-align: center;
	            text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
	                            0px 8px 13px rgba(0, 0, 0, 0.1),
	                            0px 18px 23px rgba(0, 0, 0, 0.1);
	        }
	        
	        #content{
	            text-align: center;
	            color: orange;
	            font-size: 20px;
	        }
	         button{
	            font-size: 30px;
	            cursor: pointer;
	        }

	        button a:hover{
	            color: #fff;
	        }
	        #div wild1 {
	        	width: 100%;
	        }
	        #div wild2 {
	        	width: 100%;
	        }
	        div.anim1{
	        	display: block;
	        	width: 32%;
	        	margin: 1px;
	        	height: 200px;
	        	padding: 5px;
	        	float: left;
	        }
	        div.anim2{
	        	display: block;
	        	width: 32%;
	        	margin: 1px;
	        	height: 200px;
	        	padding: 5px;
	        	float: left;
	        }
	        div.anim3{
	        	display: block;
	        	width: 32%;
	        	margin: 1px;
	        	height: 200px;
	        	padding: 5px;
	        	float: left;
	        }

	        .foot{
	        	width: 100%;
	        	bottom: 0; 
	        	font-family: "Trebuchet Ms", Verdana, Sans-serif;
	            color: #000;
	            text-align: center;
	        }